.btn-light{
    background-color: rgb(252, 94, 163);
  }
  .btn-white{
    background-color: white;
    color:rgb(252, 94, 163);
  }
  .bg-light{
    background-color: rgb(252, 94, 163);
  }
  #text-light{
    color: rgb(252, 94, 163);
  }
  #parti1{
    background-color: rgb(252, 94, 163);
  }
  #textlight{
    color:rgb(252, 94, 163);
  }