body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 }
 .btn-light{
  background-color: rgb(252, 94, 163);
}
.btn-white{
  background-color: white;
  color:rgb(252, 94, 163);
}
.bg-light{
  background-color: rgb(252, 94, 163);
}
#text-light{
  color: rgb(252, 94, 163);
}
#parti1{
  background-color: rgb(252, 94, 163);
}
#textlight{
  color:rgb(252, 94, 163);
}


/* State */
.redcolor{
  color: red;
}
.greencolor{
  color: green;
}
.bluecolor{
  color: blue;
}